@using ISEE.Resources
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
<script src="//code.angularjs.org/1.4.0/angular.js"></script>
@*<script src="~/Scripts/angular.min.js"></script>*@
<script src="~/Scripts/Custom/LoginController.js"></script>




<div class="fix_box" ng-app="LoginDetails">
    <div class="log_content" ng-controller="LoginCtrl">
        <div class="log_box">
            <!-- <div class="green_round"></div> -->
            <form class="form-horizontal" role="form" method="post" novalidate name="login" ng-submit="Login(IsFormValid)">
                <div class="log_boxinnr">
                    <div class="col-md-12 log_heading">
                        <span class="f_left">@ISEE.Resources.Resource.LogIn</span>
                        <span class="f_right">regionSEE</span>
                        <div class="clear"></div>
                    </div>
                    <div class="log_fild">
                        <div class="col-md-4">
                            @ISEE.Resources.Resource.UserName
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="username" class="log_fildbox" placeholder="@ISEE.Resources.Resource.UserName" ng-model="LoginData.UserName">
                            <span style="color:red" class="error_msg" ng-show="showValidation">*</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="log_fild">
                        <div class="col-md-4">
                            @ISEE.Resources.Resource.Password
                        </div>
                        <div class="col-md-6">
                            <input type="password" name="password" class="log_fildbox" placeholder="@ISEE.Resources.Resource.Password" ng-model="LoginData.Password">
                            <span style="color:red" class="error_msg" ng-show="showValidation">*</span> </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class=" col-md-9">
                        <input type="submit" class="nbtn" value="@ISEE.Resources.Resource.OK" ng-click="LoginFirst()">
                        <input type="submit" class="nbtn" value="@ISEE.Resources.Resource.Cancel">
                        <div class="dropdown" style="float:right">
                            <button class="btn btn-primary dropdown-toggle fl_list" type="button" data-toggle="dropdown" id="dropdownLanguage" style="padding: 3px 0px;" aria-haspopup="true" aria-expanded="true">
                                <img ng-src="{{selectedImageUrl}}" />
                            </button>
                            <ul class="dropdown-menu log_fildll" aria-labelledby="dropdownLanguage">
                                <li ng-repeat="item in CountryCodeList">
                                    <a ng-click="dropboxitemselected(item.LanguageNickname)">
                                        <img ng-src="{{item.ImageUrl}}" />
                                    </a>
                                </li>

                                @*<li><a href="#"><img src="/content/images/flag.png" alt=""></a></li>
            <li><a href="#"><img src="/content/images/flag.png" alt=""></a></li>
            <li><a href="#"><img src="/content/images/flag.png" alt=""></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                </form>
</div>
        <!-- <div class="seperator"></div>
        <div class="shadow">
        </div> -->
    </div>
</div>


@*<div class="container" ng-app="LoginDetails">

    <div class="col-md-4"></div>
    <div class="col-md-4 main_login" ng-controller="LoginCtrl">
        <label class="login_form_title">@ISEE.Resources.Resource.LogIn</label><label class="pull-right resionSEE_form_title">regionSEE</label>
        <form class="form-horizontal" role="form" method="post" novalidate name="login" ng-submit="Login(IsFormValid)">
            <div class="form-group">
                <label for="name" class="col-md-4 control-label">@ISEE.Resources.Resource.UserName</label>
                <div class="col-md-8">
                    <input type="text" class="form-control isee_login_input" id="name" name="name" placeholder="@ISEE.Resources.Resource.UserName" ng-model="LoginData.UserName" value="" required>
                    <span style="color:red" class="error_msg" ng-show="showValidation">*</span>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-md-4 control-label">@ISEE.Resources.Resource.Password</label>
                <div class="col-md-8">
                    <input type="password" class="form-control isee_login_input" id="password" name="password" placeholder="@ISEE.Resources.Resource.Password" ng-model="LoginData.Password">
                    <span style="color:red" class="error_msg" ng-show="showValidation">*</span>
                </div>
            </div>

            <div class="form-group login_save_data">

                <div class="col-md-4 col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-default pull-left login_btn isee_button" ng-click="LoginFirst()">@ISEE.Resources.Resource.OK</button>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4">
                    <button type="reset" class="btn btn-default pull-left login_btn isee_button">@ISEE.Resources.Resource.Cancel</button>
                </div>


                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="dropdown">
                            <button class="btn btn-default login_flag pull-right  dropdown-toggle" type="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img ng-src="{{selectedImageUrl}}" />
                            <span class="caret">
                            </span>
                        </button>
                        <ul class="dropdown-menu  drop_menu_window" aria-labelledby="dropdownLanguage">
                           
                            <li ng-repeat="item in CountryCodeList">
                                <a ng-click="dropboxitemselected(item.LanguageNickname)">
                                    <img ng-src="{{item.ImageUrl}}" />
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </form>

    </div>
    <div class="col-md-4"></div>
</div>*@


