@using ISEE.Resources
<form role="form" method="post" action="">
    <div class="row">

        <div class="col-md-12 col-xs-12 category_header">

            <div class="col-sm-3 col-xs-3"><h4 class="category_title">@ISEE.Resources.Resource.Category</h4></div>

            <div class="col-sm-5 col-xs-3 category_active_blank"></div>

            <div class="col-sm-2 col-xs-3 category_active">
                <div class="form-group">

                    <select name="language" class="form-control language_box isee_select_option" ng-model="DDLType.id"
                            ng-options="s.id as s.name for s in DDLTypeList"
                            ng-change="SetSelectedType()"></select>
                </div>
            </div>

            <div class="col-md-2 col-xs-3 category_active_save">
                <button type="button" class="btn btn-default pull-left isee_select_button search_tree" ng-click="OverallSave()"><img src="../images/img/save.png" /></button>
            </div>
        </div>


        <div class="row category_rightbar">

            <div class="col-md-6 col-xs-12 category_scroll_panel">

                <div class="col-lg-12 col-xs-12 category_company">
                    <h4 class="customer_title">@ISEE.Resources.Resource.Level1</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="usr">@ISEE.Resources.Resource.Level1</label>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="newcontact.RequestDescCodeLevel1">
                            </div>
                        </div>


                        <div class="col-md-4">
                            <label for="usr">@ISEE.Resources.Resource.Order</label>
                            <div class="form-group">
                                <input type="number" name="Order" class="form-control order_input" min="0" step="1" ng-model="newcontact.RequsetOrder">
                                <input type="hidden" ng-model="newcontact.RequestSysIdLevel1" />
                            </div>
                        </div>

                        <div class="col-md-1"></div>




                        <div class="col-md-3">
                            <button type="button" ng-click="saveContact()" class=" btn btn-default pull-left left_pannel_btn isee_select_button search_tree">
                                <img src="../images/img/rsz_1edit_add.png" />
                            </button>

                        </div>

                    </div>
                    <div class="qwert">

                        <div class="category_tg-wrap">
                            <table class="category_tg">
                                <tr>
                                    <th class="category_tg-z1n2">@ISEE.Resources.Resource.Level1</th>
                                    <th class="category_tg-z1n2">@ISEE.Resources.Resource.Order</th>
                                    <th class="category_tg-z1n2">@ISEE.Resources.Resource.Active</th>
                                </tr>

                                <tr ng-repeat="contact in contacts" ng-attr-class="{{contact.RequestSysIdLevel1 == SelectedSysIdLevel1 && 'active' || '' }}" ng-click="BindSecondary(contact)">

                                    <td class="tg-dx8v_category rightJustifyTd">
                                        <span ng-hide="contact.editing" ng-click="editItem(contact)">{{ contact.RequestDescCodeLevel1 }}</span>
                                        <input type="hidden" ng-model="contact.RequestSysIdLevel1" />
                                        <input focus-on-show ng-show="contact.editing" ng-model="contact.RequestDescCodeLevel1" ng-blur="doneEditing(contact)" />
                                    </td>
                                    <td class="tg-dx8v_category">
                                        <div class="form-group grid_style">
                                            <input type="number" class="form-control category_form_table" min="0" step="1" ng-model="contact.RequsetOrder">
                                        </div>
                                    </td>
                                    <td class="tg-dx8v_category">
                                        <div class="form-group grid_style">
                                            <input type="checkbox" class="myClass" value="yes" id="answer" name="answer" data-color="green" ng-true-value="0" ng-false-value="-1" ng-model="contact.StatusCode" />
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6 col-xs-12 category_scroll_panel">

                <div class="col-lg-12 col-xs-12 category_company">
                    <h4 class="customer_title">@ISEE.Resources.Resource.Level2</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="usr">@ISEE.Resources.Resource.Level2</label>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="newSecondary.RequestDescCodeLevel2" required autofocus>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="usr">@ISEE.Resources.Resource.Order</label>
                            <div class="form-group">
                                <input type="number" class="form-control" min="0" step="1" ng-model="newSecondary.RequsetOrder" required autofocus>
                                <input type="hidden" ng-model="newSecondary.RequestSysIdLevel2" />
                                <input type="hidden" ng-model="newSecondary.RequestSysIdLevel1" />
                            </div>
                        </div>

                        <div class="col-md-1"></div>

                        <div class="col-md-3">
                            <button type="button" class="btn btn-default pull-left left_pannel_btn  isee_select_button search_tree" ng-click="saveSecondary()">
                                <img src="../images/img/rsz_1edit_add.png" />
                            </button>
                        </div>

                    </div>
                 
                    <div class="qwert">
                        <div class="category_tg-wrap">
                            <table class="category_tg">
                                <tr>
                                    <th class="category_tg-z1n21">@ISEE.Resources.Resource.Level2</th>
                                    <th class="category_tg-z1n2">@ISEE.Resources.Resource.Order</th>
                                    <th class="category_tg-z1n2">@ISEE.Resources.Resource.Active</th>
                                </tr>

                                <tr ng-repeat="Secondary in Secondarys" ng-hide="{{hideSecondayRow(Secondary)}}">
                                    <td class="tg-dx8v_category rightJustifyTd">
                                        <span ng-hide="Secondary.editing" ng-click="editSecondary(Secondary)">  {{ Secondary.RequestDescCodeLevel2 }}</span>
                                        <input type="hidden" ng-model="Secondary.RequestDescCodeLevel2 " />
                                        <input focus-on-show ng-show="Secondary.editing" ng-model="Secondary.RequestDescCodeLevel2 " ng-blur="doneEditingSecondary(Secondary)" />
                                    </td>
                                    <td class="tg-dx8v_category">
                                        <div class="form-group grid_style">
                                            <input type="number" class="form-control category_form_table" ng-model="Secondary.RequsetOrder" min="0" step="1">
                                        </div>
                                    </td>
                                    <td class="tg-dx8v_category">
                                        <div class="form-group grid_style">
                                            <input type="checkbox" class="myClass" value="yes" id="answer" name="answer" data-color="green" ng-true-value="0" ng-false-value="-1" ng-model="Secondary.StatusCode" />
                                        </div>
                                    </td>

                                </tr>

                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</form>


<script>
    $(document).bind('keydown', function (event) {
        //var target = event.srcElement || event.target;
        //var tag = target.tagName.toUpperCase();
        //var type = target.type.toUpperCase();
        //if (tag === 'INPUT' && type === 'NUMBER' &&
        //   (event.keyCode === 38 || event.keyCode === 40)) {
        //    event.preventDefault();
        //}
    });

    $('form').on('focus', 'input[type=number]', function (e) {
        $(this).on('mousewheel.disableScroll', function (e) {
            e.preventDefault()
        })
    })
    $('form').on('blur', 'input[type=number]', function (e) {
        $(this).off('mousewheel.disableScroll')
    })
</script>

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

