@using ISEE.Resources
<!-- employee right panel start ---->
<form role="form" method="post" action="">

    <div class="row employee_top_rightbar">
        <div class="col-md-12 col-xs-12 employee_save_header">
            <button type="button" class="btn btn-default pull-right isee_select_button search_tree" ng-click="clearEmployeeDetails()">
                <img src="../images/img/edit5.png" />
            </button>
            <button type="button" class="btn btn-default pull-right floppy-icon isee_select_button search_tree" ng-click="SaveAllEmployeeData()">
                <img src="../images/img/save.png" />
            </button>
        </div>

        <div class="col-md-12 col-xs-12 employee_info_panel">
            <div class="row">
                <!---- employee info panel-->
                <!----- ================START======================-->
                <div class="col-md-6 col-xs-12 employee_left_form">
                    <div class="col-md-12 col-xs-12 left_inner_emptab">
                        <h4 class="customer_title">Employee Info</h4>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usr">@ISEE.Resources.Resource.Number</label>
                                <input type="tel" class="form-control isee_input" id="txtNumber" min="0" ng-model="employeeInfo.Number">
                            </div>

                            <div class="form-group">
                                <label for="usr">@ISEE.Resources.Resource.FirstName *</label>
                                <input type="text" class="form-control isee_input" id="txtfirstName" required ng-model="employeeInfo.firstname">
                            </div>

                            <div class="form-group">
                                <label for="usr">@ISEE.Resources.Resource.StartDay</label>
                                <div id="datepicker1" class="input-group date" data-date-format="mm-dd-yyyy">
                                    <input class="form-control isee_input" type="text" value="" ng-model="employeeInfo.startDay" />
                                    <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usr">@ISEE.Resources.Resource.Mail</label>
                                <input type="email" id="txtmail" class="form-control isee_input" ng-model="employeeInfo.mail">
                            </div>

                            <div class="form-group">
                                <label for="usr">@ISEE.Resources.Resource.LastName *</label>
                                <input type="text" class="form-control isee_input" id="txtlastName" required ng-model="employeeInfo.lastname">
                            </div>


                            <div class="form-group">
                                <label for="usr">@ISEE.Resources.Resource.EndDay</label>
                                <div id="datepicker2" class="input-group date" data-date-format="mm-dd-yyyy">
                                    <input class="form-control isee_input" type="text" ng-model="employeeInfo.enddate" />
                                    <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-xs-12 employee_left_form">
                    <div class="col-md-12 col-xs-12 right_inner_emptab">
                        <h4 class="customer_title">@ISEE.Resources.Resource.AddInfo</h4>


                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-xs-5">

                                    <div class="form-group">
                                        <label>@ISEE.Resources.Resource.Phone1 *</label>
                                        <input class="form-control isee_input" id="inputPhone" ng-model="employeeInfo.phone1" maxlength="5" name="phone" required="required" size="3" title="" type="number" value="" />
                                    </div>
                                </div>

                                <div class="col-xs-7">
                                    <label></label>
                                    <div class="form-group phone_no">
                                        <input class="form-control isee_input" id="inputPhone1" ng-model="employeeInfo.phone11" maxlength=" 50" name="phone" required="required" size="3" title="" type="number" value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="usr">@ISEE.Resources.Resource.Manufacture *</label>
                                <select id="ddlmanufacture" onchange="ManufactureTypes(this)" class="form-control tree_select_option isee_button_color" ng-model="employeeInfo.ManufactureChoice" required>
                                    <option value=""></option>
                                    <option value="2">Samsung</option>
                                    <option value="5">LG</option>
                                    <option value="4">BlackBerry</option>
                                    <option value="6">Apple</option>
                                    <option value="3">Motorola</option>
                                    <option value="1">Nokia</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-xs-5">

                                    <div class="form-group">
                                        <label>@ISEE.Resources.Resource.Phone2 </label>
                                        <input class="form-control isee_input" id="inputPhone2" maxlength="5" ng-model="employeeInfo.phone2" name="phone" required="required" size="3" title="" type="tel" value="" />
                                    </div>
                                </div>

                                <div class="col-xs-7">
                                    <label></label>
                                    <div class="form-group phone_no">
                                        <input class="form-control isee_input" id="inputPhone21" ng-model="employeeInfo.phone22" maxlength="50" name="phone" required="required" size="3" title="" type="tel" value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="usr">@ISEE.Resources.Resource.PhoneType *</label>
                                <select id="ddlphoneType" class="form-control tree_select_option isee_button_color" ng-model="employeeInfo.phoneTypeChoice" required></select>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



            <div class="row">
                <div class="col-md-6 col-xs-12 employee_hours">
                    <div class="col-md-12 col-xs-12 employee_fill_left">
                        <h4 class="customer_title">@ISEE.Resources.Resource.FillEmployeeHours</h4>
                        <div class="tg-wrap">

                            <table id="my-table" class="tg">
                                <tr>

                                    <th class="tg-z1n2">Day Status</th>
                                    <th class="tg-z1n2">Start Time</th>
                                    <th class="tg-z1n2">End Time</th>
                                    <th class="tg-z1n2">Start Time</th>
                                    <th class="tg-z1n2">End Time</th>
                                </tr>
                                <tr ng-repeat="employeeHour in employeeData track by $id($index)">

                                    <td class="tg-dx8v">
                                        {{employeeHour.Day}}
                                    </td>
                                    <td class="tg-dx8v" ng-click="editEmployeeHour(employeeHour,'Start1')">
                                        <span ng-hide="employeeHour.editingStart1" typeof="time">{{employeeHour.Start1}}</span>
                                        <input type="hidden" ng-model="employeeHour.Start1" />
                                        <input focus-on-show id='{{employeeHour.Day}}_1' data-showtime="true" onfocus="showTime(this)" ng-show="employeeHour.editingStart1" ng-model="employeeHour.Start1" style="width:50px !important" ng-blur="doneEditingEmployeeHour(employeeHour,'Start1')" />
                                    </td>
                                    <td class="tg-dx8v" ng-click="editEmployeeHour(employeeHour,'End1')">
                                        <span ng-hide="employeeHour.editingEnd1">{{employeeHour.End1}}</span>
                                        <input type="hidden" ng-model="employee.End1" />
                                        <input focus-on-show id='{{employeeHour.Day}}_2' data-showtime="true" onfocus="showTime(this)" ng-show="employeeHour.editingEnd1" ng-model="employeeHour.End1" style="width:50px !important" ng-blur="doneEditingEmployeeHour(employeeHour,'End1')" />
                                    </td>
                                    <td class="tg-dx8v" ng-click="editEmployeeHour(employeeHour,'Start2')">
                                        <span ng-hide="employeeHour.editingStart2">{{employeeHour.Start2}}</span>
                                        <input type="hidden" ng-model="employeeHour.Start2" />
                                        <input focus-on-show id='{{employeeHour.Day}}_3' data-showtime="true" onfocus="showTime(this)" ng-show="employeeHour.editingStart2" ng-model="employeeHour.Start2" style="width:50px !important" ng-blur="doneEditingEmployeeHour(employeeHour,'Start2')" />
                                    </td>
                                    <td class="tg-dx8v" ng-click="editEmployeeHour(employeeHour,'End2')" s>
                                        <span ng-hide="employeeHour.editingEnd2">{{employeeHour.End2}}</span>
                                        <input type="hidden" ng-model="employeeHour.End2" />
                                        <input focus-on-show id='{{employeeHour.Day}}_4' data-showtime="true" onfocus="showTime(this)" ng-show="employeeHour.editingEnd2" ng-model="employeeHour.End2" style="width:50px !important" ng-blur="doneEditingEmployeeHour(employeeHour,'End2')" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <h4 class="customer_title">@ISEE.Resources.Resource.DragItemToTree</h4>
                        <div class="col-md-12 col-xs-12">
                            <div class="tree_tg-wrap">
                                <table class="tree_tg" id="newemployeeGrid">
                                    <tr ng-hide="choice==2" data-oid='{{NewAddedEmployee.employeeID}}' data-id='{{NewAddedEmployee.employeeID}}' data-name='{{NewAddedEmployee.LastName}} {{NewAddedEmployee.FirstName}}' data-type="employee" class="easytree-draggable">
                                        <td class="tg-dx8v_category">
                                            <i></i>
                                            <span style="display:none;" id='{gridOption.employeeID}'>{{NewAddedEmployee.employeeID}}</span>
                                        </td>
                                        <td class="tg-dx8v_category" style="text-align:left !important;">
                                            {{NewAddedEmployee.LastName}}&nbsp;{{NewAddedEmployee.FirstName}}
                                        </td>
                                        <td class="tg-dx8v_category" style="text-align:left !important;">
                                            {{NewAddedEmployee.MainAreaPhone}}-{{NewAddedEmployee.MainPhone}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div><!--- add new  col-md-12 for drag item -->

                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="col-md-6 col-xs-12 employee_inner_demo_first">

                        <div class="employee_inner_demo">
                            <div class="col-md-6 col-xs-12 employee_inner_demo_second">
                                <div id="jstree_Employee_div"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>


</form>
<!-- employee right panel end---->
<script>

    var objEmployeeTree = $('#jstree_Employee_div').easytree(
       {
           data: treeJsonData,
           enableDnd: true,
           canDrop: canDropEmployee,
           dropped: droppedEmployee,
           dropping: droppingEmployee
       });

    function canDropEmployee(event, nodes, isSourceNode, source, isTargetNode, target) {
        if (!isTargetNode && target.id == 'divAcceptHref' && isSourceNode) {
            return source.href ? true : false;
        }
        if (isTargetNode) {
            if (($(source).data("type") == "employee" || $(source).data("type") == "customer") && $(source).data("type") == target.objecttype) {
                return false;
            }
            if (($(source).data("type") == "customer") && target.objecttype == "employee") {
                return false;
            }
            if (($(source).data("type") == "employee") && target.objecttype == "customer") {
                return false;
            }
            if (target.objecttype == undefined) {
                return false;
            }

            if (target.children != null && IsNodeExist(target.children, source)) {
                return false;
            }

            isCurrentNodeAdded = false;
            return true;
        }
    }
    function droppingEmployee(event, nodes, isSourceNode, source, isTargetNode, target, canDrop) {
        if (isSourceNode && !canDrop && target && (!isTargetNode && (target.id == 'divRejectAll' || target.id == 'divAcceptHref'))) {
            //  alertMessage("Dropping node rejected '" + source.text + "'");
        }
    }

    function droppedEmployee(event, nodes, isSourceNode, source, isTargetNode, target) {
        // internal to external drop
        if (isSourceNode && target && (!isTargetNode && (target.id == 'divAcceptAll' || target.id == 'divAcceptHref'))) {
            //  alertMessage("Dropped node accepted '" + source.text + "'");
        }
        if (isSourceNode && isTargetNode) { // internal to internal drop
            // alertMessage("Internal drop accepted, '" + source.text + "'  --> '" + target.text + "'");
        }
        if (isTargetNode && !isSourceNode) { // external to internal drop
            if (!isCurrentNodeAdded) {
                var node = {};
                node.text = $(source).data("name");
                node.id = newNodeID;
                newNodeID = newNodeID - 1;
                node.objectid = $(source).data("id");
                node.objecttype = $(source).data("type");
                if (node.objecttype == "employee") {
                    node.iconUrl = "/images/img/employee_16.png";
                } else {
                    node.iconUrl = "/images/img/customer_16.png";
                }

                //  objTree.addNode(node, target.id);
                objEmployeeTree.addNode(node, target.id);
                //  objCustomerTree.addNode(node, target.id);
                isCurrentNodeAdded = true;
            }
        }
    }

</script>

<!-- Employee_right_asidebar end -->