@{
    ViewBag.Title = "employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ISEE.Resources
<link href="~/Scripts/Custom/jquery.timepicker.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/Custom/jquery.timepicker.js"></script>
<script src="~/Scripts/Custom/jquery.easytree.js"></script>
<link href="~/Content/EasyTree/ui.easytree.css" rel="stylesheet" />
<link href="~/Content/themes/default/style.css" rel="stylesheet" />



<link href="~/Scripts/Custom/jquery.timepicker.css" rel="stylesheet" />
<script src="~/Scripts/Custom/date.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Custom/employeeScheduler.js"></script>
<script src="~/Scripts/Custom/jquery.flip.min.js"></script>
<script src="~/Scripts/Custom/googleMap.js"></script>
<style>
    .inputClass {
        max-width: 60px !important;
        border: 0px !important;
    }
</style>
<div class="container top_employee_tab" style="background: #edecec;">

    <!---- top header start----->

    <div class="col-md-2 col-xs-12 ">
        <div class="form-group">
            <label for="usr">@ISEE.Resources.Resource.LastName</label>
            <input class="form-control isee_input_shadow" id="empLastname" name="lastname" type="text" value="">
        </div>
    </div>

    <div class="col-md-2 col-xs-12">
        <div class="form-group">
            <label for="usr">@ISEE.Resources.Resource.FirstName</label>
            <input class="form-control isee_input_shadow" id="empFirstname" name="firstname" type="text" value="">
        </div>
    </div>

    <div class="col-md-2 col-xs-12">
        <div class="form-group">
            <label for="usr">@ISEE.Resources.Resource.Number</label>
            <input class="form-control isee_input_shadow" id="empNumber" type="text" value="">
        </div>
    </div>

    <div class="col-md-2 col-xs-12">
        <div class="form-group">
            <label for="usr">@ISEE.Resources.Resource.Manufacture</label>
            <select id="ddlmanufacture1" onchange="ManufactureTypes1(this)" class="form-control isee_select_option ">
                <option value=""></option>
                <option value="1">Nokia</option>
                <option value="2">Samsung</option>
                <option value="3">Motorola</option>
                <option value="4">BlackBerry</option>
                <option value="5">LG</option>
                <option value="6">Appel</option>
            </select>
        </div>
    </div>

    <div class="col-md-2 col-xs-12">
        <div class="form-group">
            <label for="usr">@ISEE.Resources.Resource.PhoneType</label>

            <select id="ddlphoneType1" class="form-control select_color"></select>

        </div>
    </div>

    <div class="col-md-2 col-xs-12">
        <div class="form-group e_chkbox">
            <input type="checkbox" class="myClass" id="isActive" name="answer" data-color="green" checked="checked">
            <label for="usr">@ISEE.Resources.Resource.Active</label>
        </div>
        <button type="button" class="btn btn-default pull-right e_pencil isee_button_color" onclick="clearInputFields()"><i class="fa fa-pencil"></i></button>
        <button type="button" class="btn btn-default pull-right e_search isee_button_color" onclick="searchEmployeeData()"><i class="fa fa-search"></i></button>

    </div>


    <!---- top header end----->

</div>


<div class="container second_employee_window">


    <div class="col-md-3 col-xs-12 tree_left_asidebar emptabs_left_window">

        <div class="col-md-12 scroll_window">
            <div class="left_employee_window" id="left_employee_window">


            </div>

        </div>
    </div>

    <div class="col-md-9 col-xs-12 employee_right_asidebar">

        <form role="form" method="post" action="">

            <div class="row employee_top_rightbar ">

                <div class="col-md-12 col-xs-12 employee_save_header">
                    @*<span style="font-size: 14px; padding: 10px; margin-top: 20px; font-weight: bold; color: #000;">This is dummy content</span>*@

                    <a href="#" id="showMap">
                        <button type="button" class="btn btn-default pull-right isee_select_button">
                            <img src="../images/img/show_in_map.png" />@ISEE.Resources.Resource.ShowMap
                        </button>
                    </a>


                    <button type="button" class="btn btn-default pull-right floppy-icon isee_select_button" onclick="setDetails()">
                        <img src="../images/img/edit_details.png" />@ISEE.Resources.Resource.EditDetails
                    </button>
                    <button type="button" class="btn btn-default pull-right floppy-icon isee_button_color" onclick="showEmployeeScheduler()"><i class="fa fa-calendar">@ISEE.Resources.Resource.Scheduler</i></button>

                </div>
                <div class="col-md-12 col-xs-12 employee_save_header" style="display: none;">
                    @*<span style="font-size: 14px; padding: 10px; margin-top: 20px; font-weight: bold; color: #000;">This is dummy content</span>*@


                    <button type="button" class="btn btn-default pull-right floppy-icon isee_select_button" onclick="removeChange()">
                        <img src="../images/img/cancel.png" />
                        @ISEE.Resources.Resource.Cancel
                    </button>
                    <button type="button" class="btn btn-default pull-right floppy-icon isee_select_button" onclick="updateEmployee()">
                        <img src="../images/img/save5.png" />
                        @ISEE.Resources.Resource.Save
                    </button>

                </div>

                <div class="col-md-12 col-xs-12 employee_info_panel" id="employeeData">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 employee_left_form">
                            <div class="col-md-12 col-xs-12 left_inner_emptab">
                                <h4 class="customer_title">@ISEE.Resources.Resource.EmplDetails</h4>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="usr">@ISEE.Resources.Resource.Number</label>
                                        <input class="form-control isee_input disabledClass" id="txtnumber" maxlength="50" name="Number" placeholder="0" name="number" type="tel" value="">
                                    </div>

                                    <div class="form-group">
                                        <label for="usr">@ISEE.Resources.Resource.FirstName</label>
                                        <input class="form-control isee_input disabledClass" id="txtfirstname" name="firstname" type="text" value="" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="usr">@ISEE.Resources.Resource.StartDay</label>
                                        <div id="startDatePic">
                                            <div id="datepickerStartDay" class="input-group date disabledClass" data-date-format="dd/mm/yyyy">
                                                <input class="form-control isee_input" type="text" id="txtStart" name="startday" value="" disabled />
                                                <span class="input-group-addon" aria-disabled="true"><i class="fa fa-th" aria-disabled="true"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="usr">@ISEE.Resources.Resource.Mail</label>
                                        <input class="form-control isee_input disabledClass" id="txtmail" name="mail" type="email" value="">
                                    </div>

                                    <div class="form-group">
                                        <label for="usr">@ISEE.Resources.Resource.LastName</label>
                                        <input class="form-control isee_input disabledClass" id="txtlastname" name="lastname" type="text" value="" required>
                                    </div>


                                    <div class="form-group">
                                        <label for="usr">@ISEE.Resources.Resource.EndDay</label>
                                        <div id="datepickerEndDay" class="input-group date" data-date-format="dd/mm/yyyy">
                                            <input class="form-control isee_input disabledClass" type="text" id="txtend" title="enddate" value="" disabled />
                                            <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 employee_right_window">
                            <h4 class="customer_title">@ISEE.Resources.Resource.AddInfo</h4>
                            <div class="col-md-12 col-xs-12 right_inner_window">

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-5">

                                            <div class="form-group">
                                                <label>@ISEE.Resources.Resource.Phone1</label>
                                                <input class="form-control isee_input disabledClass" id="txtphone1" maxlength="10" name="phone1" type="tel" value="" />
                                            </div>
                                        </div>

                                        <div class="col-xs-7">
                                            <label></label>
                                            <div class="form-group phone_no">
                                                <input class="form-control isee_input disabledClass" id="txtphone11" maxlength="50" name="phone" type="tel" value="" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="usr">@ISEE.Resources.Resource.Manufacture</label>
                                        <select class="form-control tree_select_option isee_button_color disabledClass" id="ddlmanufacture" onchange="ManufactureTypes(this, false)">
                                            <option value="2">Samsung</option>
                                            <option value="5">LG</option>
                                            <option value="4">BlackBerry</option>
                                            <option value="6">Apple</option>
                                            <option value="3">Motorola</option>
                                            <option value="1">Nokia</option>
                                        </select>
                                    </div>


                                </div>

                                <div class="col-md-6">

                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="form-group">
                                                <label>@ISEE.Resources.Resource.Phone2 </label>
                                                <input class="form-control isee_input disabledClass" id="txtphone2" maxlength="10" name="phone1" required="required" type="tel" value="" />
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <label></label>
                                            <div class="form-group phone_no">
                                                <input class="form-control isee_input disabledClass" id="txtphone22" maxlength="50" name="phone" type="tel" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">@ISEE.Resources.Resource.PhoneType </label>
                                        <select class="form-control tree_select_option isee_button_color disabledClass" id="ddlphonetype" name="phonetype">
                                            <option></option>
                                            <option></option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="usr">@ISEE.Resources.Resource.LastApp</label>
                                        <div id="datepickerLastApp" class="input-group date" data-date-format="dd/mm/yyyy">
                                            <input class="form-control isee_input" type="text" id="txtapplication" name="startday" value="" disabled />
                                            <span class="input-group-addon"><i class="fa fa-th"></i></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default pull-right send_application isee_button_color" id="sendApp"><i class="fa fa-envelope">Send Application</i></button>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!----- ================End======================-->



                    <div class="container employee_navtab_window">

                        <div class="span12">
                            <ul class="nav nav-tabs">
                                <li class="active menu_tabs" id="divSms"><a href="#employeeSms" data-toggle="tab"><i class="fa fa-mobile">@ISEE.Resources.Resource.SMS</i></a></li>
                                <li class="menu_tabs" id="divTime"><a href="#employeeHours" data-toggle="tab"><i class="fa fa-clock-o">@ISEE.Resources.Resource.Time</i></a></li>
                                <li class="menu_tabs" id="divTree"><a href="#employeeTree" data-toggle="tab"><i class="fa fa-group">@ISEE.Resources.Resource.Tree</i></a></li>

                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane" id="employeeHours">
                                    <div class="container sms_tabs">
                                        <div class="col-md-6">
                                            <h4 class="customer_title">@ISEE.Resources.Resource.FillEmployeeHours</h4>
                                            <div class="tg-wrap_content_tabs">
                                                <table class="tg" id="tblemployeeHours">
                                                    <tr>
                                                        <th class="tg-z1n2"></th>
                                                        <th class="tg-z1n2">@ISEE.Resources.Resource.DayStatus</th>
                                                        <th class="tg-z1n2">@ISEE.Resources.Resource.StartDay</th>
                                                        <th class="tg-z1n2">@ISEE.Resources.Resource.EndDay</th>
                                                        <th class="tg-z1n2">@ISEE.Resources.Resource.StartDay</th>
                                                        <th class="tg-z1n2">@ISEE.Resources.Resource.EndDay</th>
                                                        <th class="tg-z1n2"></th>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>

                                        <div class="col-md-6">

                                            <div class="right_content_tabs_window">
                                                <h4 class="customer_title">@ISEE.Resources.Resource.Select</h4>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="usr">@ISEE.Resources.Resource.Month</label>
                                                            <select class="form-control tree_select_option isee_button_color" id="ddlMonthname" maxlength="50" name="manufacture" value="" required>
                                                                <option value="1">January</option>
                                                                <option value="2">Feburary</option>
                                                                <option value="3">March</option>
                                                                <option value="4">April</option>
                                                                <option value="5">May</option>
                                                                <option value="6">June</option>
                                                                <option value="7">July</option>
                                                                <option value="8">August</option>
                                                                <option value="9">September</option>
                                                                <option value="10">October</option>
                                                                <option value="11">November</option>
                                                                <option value="12">December</option>

                                                            </select>
                                                        </div>

                                                    </div>

                                                    <div class="col-sm-6">

                                                        <div class="form-group">
                                                            <label for="usr">@ISEE.Resources.Resource.Year</label>
                                                            <select class="form-control tree_select_option isee_button_color" id="ddlYearValue" maxlength="50" name="manufacture"></select>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3 col-xs-3">
                                                    </div>

                                                    <div class="col-md-9 col-xs-9">
                                                        <button type="button" class="btn btn-default pull-right isee_button_color" onclick="getEmployeeTimeHistoryDiary();">@ISEE.Resources.Resource.ShowBelow</button>

                                                        <button type="button" class="btn btn-default full_screen pull-right isee_button_color" onclick="getEmployeeTimeHistoryDiary();">@ISEE.Resources.Resource.ShowBelowFullWin</button>
                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class="col-md-12">
                                                        <div class="tg-wrap_content_tabs">
                                                            <table class="tg" id="tblEmpDiaryHistory">
                                                                <tr>
                                                                    <th class="tg-z1n2"></th>
                                                                    <th class="tg-z1n2">@ISEE.Resources.Resource.Date</th>
                                                                    <th class="tg-z1n2">Input/ Output</th>
                                                                    <th class="tg-z1n2">Input/ Output</th>
                                                                    <th class="tg-z1n2">Input/ Output</th>
                                                                    <th class="tg-z1n2"></th>

                                                                </tr>



                                                            </table>

                                                        </div>

                                                    </div>
                                                </div>


                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane active" id="employeeSms">
                                    <div class="container sms_tabs">
                                        <div class="col-md-6">
                                            <h4 class="customer_title">@ISEE.Resources.Resource.TypeMsg</h4>
                                            <div class="col-md-12 left_content_area">

                                                <div class="col-md-12 ">
                                                    <textarea id="txtArea" class="main_content_area"></textarea>

                                                </div>

                                                <button type="button" class="btn btn-default pull-right send_application isee_button_color" onclick="sendSms();"><i class="fa fa-mobile">@ISEE.Resources.Resource.SendSMS</i></button>
                                            </div>
                                        </div>

                                        <div class="col-md-6">

                                            <div class="container right_content_tabs_window"></div>

                                            <div class="col-md-4">
                                                <h4 class="customer_title">@ISEE.Resources.Resource.MsgHistory</h4>
                                            </div>

                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="usr">@ISEE.Resources.Resource.From</label>
                                                            <div id="datepicker1" class="input-group date" data-date-format="dd/mm/yyyy">
                                                                <input class="form-control isee_input" type="text" id="" title="enddate" value="" />
                                                                <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-5">

                                                        <div class="form-group">
                                                            <label for="usr">@ISEE.Resources.Resource.To</label>
                                                            <div id="datepicker2" class="input-group date" data-date-format="dd/mm/yyyy">
                                                                <input class="form-control isee_input" type="text" id="" title="enddate" value="" />
                                                                <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-sm-2">
                                                        <button type="button" class="btn btn-default pull-right send_application isee_button_color" onclick="searchMessageHistory();"><i class="fa fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="tg-wrap_content_tabs">
                                                        <table class="tg" id="msgHistory">
                                                            <tr>
                                                                <th class="tg-z1n2"></th>
                                                                <th class="tg-z1n2">@ISEE.Resources.Resource.Date</th>
                                                                <th class="tg-z1n2">@ISEE.Resources.Resource.Status</th>
                                                                <th class="tg-z1n2">@ISEE.Resources.Resource.SMSDesc</th>
                                                                <th class="tg-z1n2">@ISEE.Resources.Resource.Count</th>
                                                                <th class="tg-z1n2"></th>

                                                            </tr>


                                                        </table>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="tab-pane" id="employeeTree">
                                    <div class="container sms_tabs">
                                        <div class="col-md-6">
                                            <div id="jstree_Employee_div"></div>
                                        </div>

                                        <div class="col-md-6">

                                            <div class="container right_content_tabs_window" id="employoeeDrag">
                                                <div class="tree_tg-wrap" style="width:33% !important;">
                                                    <table class="tree_tg" id="newemployeeGrid">

                                                        <tr data-oid='' data-id='' data-name='' data-type="employee" class="easytree-draggable">
                                                            <td class="tg-dx8v_category">
                                                                <i></i>
                                                                @*<span style="display: none;" id='{gridOption.employeeID}'>{{NewAddedEmployee.employeeID}}</span>*@
                                                                <span style="display: none;" id=''></span>
                                                            </td>
                                                            @*<td class="tg-dx8v_category" style="text-align: left !important;">{{NewAddedEmployee.LastName}}&nbsp;{{NewAddedEmployee.FirstName}}
                                                                </td>
                                                                <td class="tg-dx8v_category" style="text-align: left !important;">{{NewAddedEmployee.MainAreaPhone}}-{{NewAddedEmployee.MainPhone}}
                                                                </td>
                                                            *@
                                                            <td class="tg-dx8v_category" style="text-align: left !important;"></td>
                                                            <td class="tg-dx8v_category" style="text-align: left !important;"></td>
                                                        </tr>
                                                    </table>
                                                </div>

                                                @*<input class="form-control isee_input tree_input-tabs" id="" maxlength="50" name="phone2" type="text" value="" required />*@
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--.tab-content -->

                        </div>
                        <!--.span12 -->

                    </div>
                    <!--.container -->
                    <!------------------=====================================------>
                    @*<div class="row">
                            <div class="col-md-6 col-xs-12 employee_hours">
                                <div class="col-md-12 col-xs-12 employee_fill_left">
                                    <!--- change col-md-6 into col-md-12-->
                                    <h4 class="customer_title">Fill Employee Hours</h4>

                                    <div class="tg-wrap">
                                        <table class="tg">
                                            <tr>

                                                <th class="tg-z1n2">Day Status</th>
                                                <th class="tg-z1n2">Start Time</th>
                                                <th class="tg-z1n2">End Time</th>
                                                <th class="tg-z1n2">Start Time</th>
                                                <th class="tg-z1n2">End Time</th>

                                            </tr>

                                            <tr>

                                                <td class="tg-dx8v">Sun</td>
                                                <td class="tg-dx8v">9:00 AM</td>
                                                <td class="tg-dx8v">6:00 PM</td>
                                                <td class="tg-dx8v"></td>
                                                <td class="tg-dx8v"></td>

                                            </tr>
                                            <tr>

                                                <td class="tg-dx8v">Mon</td>
                                                <td class="tg-dx8v">9:00 AM</td>
                                                <td class="tg-dx8v">6:00 PM</td>
                                                <td class="tg-dx8v"></td>
                                                <td class="tg-dx8v"></td>

                                            </tr>
                                            <tr>

                                                <td class="tg-dx8v">Tue</td>
                                                <td class="tg-dx8v">9:00 AM</td>
                                                <td class="tg-dx8v">6:00 PM</td>
                                                <td class="tg-dx8v"></td>
                                                <td class="tg-dx8v"></td>

                                            </tr>
                                            <tr>

                                                <td class="tg-dx8v">Wed</td>
                                                <td class="tg-dx8v">9:00 AM</td>
                                                <td class="tg-dx8v">6:00 PM</td>
                                                <td class="tg-dx8v"></td>
                                                <td class="tg-dx8v"></td>

                                            </tr>
                                            <tr>

                                                <td class="tg-dx8v">Thu</td>
                                                <td class="tg-dx8v">9:00 AM</td>
                                                <td class="tg-dx8v">6:00 PM</td>
                                                <td class="tg-dx8v"></td>
                                                <td class="tg-dx8v"></td>

                                            </tr>
                                            <tr>

                                                <td class="tg-dx8v">Fri</td>
                                                <td class="tg-dx8v"></td>
                                                <td class="tg-dx8v"></td>
                                                <td class="tg-dx8v"></td>
                                                <td class="tg-dx8v"></td>

                                            </tr>
                                            <tr>

                                                <td class="tg-dx8v">Sat</td>
                                                <td class="tg-dx8v"></td>
                                                <td class="tg-dx8v"></td>
                                                <td class="tg-dx8v"></td>
                                                <td class="tg-dx8v"></td>

                                            </tr>

                                        </table>
                                    </div>
                                    <h4 class="customer_title">Drag Item To Tree</h4>
                                    <div class="col-md-12 col-xs-12">
                                        <input class="form-control isee_input" id="" name="item" value="">
                                    </div>
                                    <!--- add new  col-md-12 for drag item -->

                                </div>
                            </div>


                            <div class="col-md-6 col-xs-12 employee_inner_demo">
                                <div class="col-md-12 col-xs-12 employee_inner_demo_first">
                                    <!--- 3 nov change col-md-6 into col-md-12-->

                                    <div class="col-md-6 col-xs-12 employee_inner_demo_second">
                                        <p>Demo Company</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    *@

                </div>
            </div>
            <!-- Customer right panel end---->
        </form>

    </div>


</div>

<div id="employeeSchdulerDialog" class="container" style="display:none;">
    <div class="col-md-12" id="schdulerData" ng-app="Scheduler" ng-controller="SchedulerController" class="container" style="    padding-top: 40px;">
        <div style="width:30%;float:left">
            <div>
                <button type="button" ng-click="SaveCalendarEventsToDatabase();">@ISEE.Resources.Resource.Save</button>
                <div>
                    <label for="usr">@ISEE.Resources.Resource.From</label>
                    <input id="timePickerFrom" class="form-control isee_input" onclick="showTime(this)" ng-change="refreshSchduler()" ng-model="schdulerStartTime" type="text" value="" />

                    <label for="usr">To</label>
                    <input id="timePickerTo" class="form-control isee_input" onclick="showTime(this)" ng-change="refreshSchduler()" ng-model="schdulerEndTime" type="text" value="" />
                </div>
                <div>
                    <input id="chkMap" class="form-control isee_input" type="checkbox" value="" />
                    <br />
                    {{SelectedEventDate}}
                </div>
            </div>
            <div id="searchSection">
                <div class="back">
                    <div title="search">
                        <label for="usr">@ISEE.Resources.Resource.State</label>
                        <input id="txtState" class="form-control isee_input" ng-model="CustomerSearchData.State" type="text" value="" />
                        <label for="usr">@ISEE.Resources.Resource.City</label>
                        <input id="txtCity" class="form-control isee_input" ng-model="CustomerSearchData.City" type="text" value="" />
                        <label for="usr">@ISEE.Resources.Resource.Street</label>
                        <input id="txtStreet" class="form-control isee_input" ng-model="CustomerSearchData.Street" type="text" value="" />
                        <label for="usr">@ISEE.Resources.Resource.BuildingNum</label>
                        <input id="txtBuildingNumber" class="form-control isee_input" ng-model="CustomerSearchData.BuildingNumber" type="text" value="" />
                        <label for="usr">@ISEE.Resources.Resource.LastNameCus</label>
                        <input id="txtBuildingNumber" class="form-control isee_input" ng-model="CustomerSearchData.ContactName" type="text" value="" />
                        <label for="usr">@ISEE.Resources.Resource.CustomerNum</label>
                        <input id="txtBuildingNumber" class="form-control isee_input" ng-model="CustomerSearchData.CustomerNumber" type="text" value="" />

                        <input id="btnSearch" class="form-control isee_input" type="button" ng-click="GetCustomersNew()" value="Search" />
                    </div>
                    <div title="searchResult">
                        <div id="left_employee_window" class="col-sm-12 scroll_window">
                            <div ng-repeat="objCustomer in Customers" class="col-sm-12 col-xs-12 tab_box" ng-click="updatecalendarEvent(objCustomer)">
                                @ISEE.Resources.Resource.FirstNameCus: 5675 <br>@ISEE.Resources.Resource.LastNameCus: {{objCustomer.LastName}} {{objCustomer.FirstName}}
                                <br>@ISEE.Resources.Resource.City: {{objCustomer.CityDesc}}<br>@ISEE.Resources.Resource.Street: {{objCustomer.StreetDesc}}
                                <br>@ISEE.Resources.Resource.Phone1: {{objCustomer.AreaPhone1}} {{objCustomer.Phone1}}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="front">
                    @ISEE.Resources.Resource.Flip
                </div>

            </div>
        </div>
        <div style="width: 70%; float: left">
            <div style="height:700px;width:900px;margin:0 auto">
                <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler.js"></script>
                <script src="~/Scripts/dhtmlxScheduler/ext/dhtmlxscheduler_timeline.js"></script>
                <link href="~/Scripts/dhtmlxScheduler/dhtmlxscheduler.css" rel="stylesheet" />
                <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
                    <div class="dhx_cal_navline">
                        <div class="dhx_cal_prev_button">&nbsp;</div>
                        <div class="dhx_cal_next_button">&nbsp;</div>
                        <div class="dhx_cal_today_button"></div>
                        <div class="dhx_cal_date"></div>
                        <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
                        <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
                        <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
                    </div>
                    <div class="dhx_cal_header"></div>
                    <div class="dhx_cal_data"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    html, body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        overflow: hidden;
    }

    body {
        background-color: #eee;
    }

    .ui-dialog {
        z-index: 1001;
    }

    .red div {
        background-color: red;
    }
</style>

<script>
    var _employeeId = 0;

    $("#searchSection").flip();
    var employeeId = '@ViewBag.EmployeeID'
    var todayDate = '@DateTime.Now.ToShortDateString()'



    function UpdateEvent(eventId, color, objCustomer) {
        scheduler.getEvent(eventId).text = objCustomer.LastName + ' ' + objCustomer.FirstName; //changes event's data
        scheduler.getEvent(eventId).color = color
        scheduler.getEvent(eventId).customerId = objCustomer.id;
        scheduler.updateEvent(eventId); // renders the updated event
    }
    function showTime(obj) {
        $('#' + obj.id + '').timepicker({
            'timeFormat': 'h:i A'
        });

        if ($('#' + obj.id + '').val() == null || $('#' + obj.id + '').val() == undefined) {
            debugger;
        }
    }

    function timeParseExact(time) {
        var hhmm = time.split(' ')[0];
        var tt = time.split(' ')[1].toLowerCase();
        var hh = hhmm.split(':')[0];
        var mm = hhmm.split(':')[1];
        if (tt == "pm") {
            if (hh == "12") {
                hh = "0";
            }
            return parseFloat(hh + "." + mm) + 12;
        }
        else {
            if (hh == "12") {
                hh = "0";
            }
            return parseFloat(hh + "." + mm);
        }


    }
</script>
<script type="text/javascript">
    var manufacture = JSON.parse('@Html.Raw(ViewBag.JsonData)');
    var treeJsonData = JSON.parse('@Html.Raw(ViewBag.TreeJsonData)');



    function canDropEmployee(event, nodes, isSourceNode, source, isTargetNode, target) {
        if (!isTargetNode && target.id == 'divAcceptHref' && isSourceNode) {
            return source.href ? true : false;
        }
        if (isTargetNode) {
            if (($(source).data("type") == "employee" || $(source).data("type") == "customer") && $(source).data("type") == target.objecttype) {
                return false;
            }
            if (($(source).data("type") == "customer") && target.objecttype == "employee") {
                return false;
            }
            if (($(source).data("type") == "employee") && target.objecttype == "customer") {
                return false;
            }
            if (target.objecttype == undefined) {
                return false;
            }

            if (target.children != null && IsNodeExist(target.children, source)) {
                return false;
            }

            isCurrentNodeAdded = false;
            return true;
        }
    }
    function droppingEmployee(event, nodes, isSourceNode, source, isTargetNode, target, canDrop) {
        if (isSourceNode && !canDrop && target && (!isTargetNode && (target.id == 'divRejectAll' || target.id == 'divAcceptHref'))) {
            //  alertMessage("Dropping node rejected '" + source.text + "'");
        }
    }

    function droppedEmployee(event, nodes, isSourceNode, source, isTargetNode, target) {
        // internal to external drop
        if (isSourceNode && target && (!isTargetNode && (target.id == 'divAcceptAll' || target.id == 'divAcceptHref'))) {
            //  alertMessage("Dropped node accepted '" + source.text + "'");
        }
        if (isSourceNode && isTargetNode) { // internal to internal drop
            // alertMessage("Internal drop accepted, '" + source.text + "'  --> '" + target.text + "'");
        }
        if (isTargetNode && !isSourceNode) { // external to internal drop
            if (!isCurrentNodeAdded) {
                var node = {};
                node.text = $(source).data("name");
                node.id = newNodeID;
                newNodeID = newNodeID - 1;
                node.objectid = $(source).data("id");
                node.objecttype = $(source).data("type");
                if (node.objecttype == "employee") {
                    node.iconUrl = "/images/img/employee_16.png";
                } else {
                    node.iconUrl = "/images/img/customer_16.png";
                }

                //  objTree.addNode(node, target.id);
                objEmployeeTree.addNode(node, target.id);
                //  objCustomerTree.addNode(node, target.id);
                isCurrentNodeAdded = true;
            }
        }
    }
</script>


<script src="~/Scripts/Custom/Employee.js"></script>


